---
layout: default
---

<section>
  <h2>{{ page.title }}</h2>
  <p>
    {{ page.description }}
  </p>
  <a class="button standalone right" href="http://bl.ocks.org/{{ page.user }}/raw/{{ page.gist }}/" target="_blank">View standalone <i class="fa fa-angle-right"></i></a>
  <iframe class="example" src="http://bl.ocks.org/{{ page.user }}/raw/{{ page.gist }}/" width="960" height="640"></iframe>
  <script src="https://gist.github.com/{{ page.user }}/{{ page.gist }}.js?file=index.html"></script>
</section>
